<%- include("partials/header"); -%>
    <h1>About</h1>
    <p>Scribbles is an public blog free to use 
    anonymously to share their thoughts, experiences, and 
    perspectives on various topics that affect their lives 
    and the world around them.</p>
    <br>
    <p>Contact us at: <a href="mailto:scribbles@gmail.com">scribbles@gmail.com</a></p>
    
    
<%- include("partials/footer"); -%>
